/* ==========================================================================
  REVIEWS
===========================================================================*/

.reviews {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;

  @include mq('tablet', 'max') {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.reviews__list_carousel {
  max-width: 880px;
  padding: 40px 100px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid $color-black-light;
  background-color: $color-white;
  border-radius: 10px;

  @include mq('laptop', 'max') {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include mq('tablet', 'max') {
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.js-reviews.slick-slider {
  margin-bottom: 50px;

  .slick-dots {
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  @include mq('laptop', 'max') {
    .slick-arrow {
      display: none !important;
    }
  }
}

.reviews__controls {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;


  @include mq('tablet-small', 'max') {
    flex-direction: column;
    padding-bottom: 0;

    .btn {

      &:last-child {
        order: 0;
      }
    }

    .btn + .btn {
      margin-top: 30px;
    }
  }
}

/* end reviews */