/* ==========================================================================
  SECTION BLOCKS
===========================================================================*/

.section-blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 60px;
  background-color: $color-gray-light;

  @include mq('tablet', 'max') {
    padding-top: 0;
    padding-bottom: 30px;
  }
}

.section-blocks__list {
  width: 100%;
  margin-bottom: 30px;
  text-align: left;
  background-image: url('../images/pattern.svg');
  background-repeat: repeat;
  background-color: #fff;
  background-size: cover;
}

.js-carousel {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;

  .slick-list {
    margin-left: -15px;
    margin-right: -15px;
  }

  &.slick-slider {
    margin-bottom: 0;
  }

  @include mq('tablet-small', 'max') {
    max-width: 320px;
  }
}

.section-blocks__item {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* end news */