//- post
include includes/post
//- card
include includes/card
//- video
include includes/video
//- labels
include includes/labels
//- dropdown-lang
include includes/dropdown-lang
//- social links
include includes/social
//- review
include includes/review
//- subheader
include includes/subheader
//- sprite
include svg-sprite
