/* ==========================================================================
  PROGRAM TYPES
===========================================================================*/

$program-item-gap: 60px;
$program-item-gap-tablet: 30px;

.section-program {

  .section-program__title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;

    @include mq('laptop', 'max') {
      font-size: 25px;
    }

    @include mq('tablet', 'max') {
      margin-top: 30px;
      margin-bottom: 30px;
      font-size: 20px;
    }
  }

  .program-types {
    padding-top: 0;
  }
}

.program-types {
  width: 100%;
  padding-top: $program-item-gap;

  @include mq('laptop', 'max') {
    padding-top: $program-item-gap-tablet;
  }

  @include mq('tablet', 'max') {
    padding-top: 10px;
  }
}

.program-types__item {

  + .program-types__item {
    margin-top: $program-item-gap;

    @include mq('laptop', 'max') {
      margin-top: $program-item-gap-tablet;
    }
  }
}

.program__desctiprion {
  margin-top: $program-item-gap / 2;

  @include mq('laptop', 'max') {
    margin-top: $program-item-gap-tablet / 2;
  }

  p {
    font-weight: $font-weight-regular;
  }
}

.section-program__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.section-program__group {
  margin-bottom: 90px;

  @include mq('laptop', 'max') {
    margin-bottom: 50px;
  }
}

/* end program types */