- var tableTitles1 = ["Основная программа","Количество занятий", "Стоимость", "Международный уровень знаний"]
- var tableTitles2 = ["Дополнительная программа","Количество занятий", "Стоимость"]
- var tableTitles3 = ["Экзамен","Письменная часть", "Устная часть", "Окончание регистрации", "Стоимость"]

.ui-group
    .ui-title TABLES
    .ui-group
        .ui-title Table middle
        table.table.table_md
            thead
                tr
                    th= tableTitles1[0]
                    th= tableTitles1[1]
                    th= tableTitles1[2]
                    th= tableTitles1[3]
                    th
            tbody
                tr
                    td(data-label= tableTitles1[0]) Университетская программа
                    td(data-label= tableTitles1[1])
                        span.label-tooltip.label-tooltip_simple(data-tippy-theme="light", data-tippy-arrow="true", data-tippy-placement="right", title="2 занятия в неделю по 80 минут") 8
                    td(data-label= tableTitles1[2])
                        span.label-tooltip.label-tooltip_simple(data-tippy-theme="light", data-tippy-arrow="true", data-tippy-placement="right", title="2 занятия в неделю по 80 минут") 3 980
                    td(data-label= tableTitles1[3]) А2, B1, B2, C1, C2
                    td.table__cell-button
                        a(href="#").btn.btn_default.btn_middle
                            span.btn__text Записаться
    .ui-group
        .ui-title Table small
        table.table.table_sm
            thead
                tr
                    th= tableTitles2[0]
                    th= tableTitles2[1]
                    th= tableTitles2[2]
                    th
            tbody
                tr
                    td(data-label= tableTitles2[0]) Еврокурс
                    td(data-label= tableTitles2[1])
                        span.label-tooltip.label-tooltip_simple(data-tippy-theme="light", data-tippy-arrow="true", data-tippy-placement="right", title="2 занятия в неделю по 80 минут") 4
                    td(data-label= tableTitles2[2])
                        span.label-tooltip.label-tooltip_simple(data-tippy-theme="light", data-tippy-arrow="true", data-tippy-placement="right", title="2 занятия в неделю по 80 минут") 1 600
                    td.table__cell-button
                        a(href="#").btn.btn_default.btn_middle
                            span.btn__text Записаться
    .ui-group
        .ui-title Table large
        h3.table__title Март 2018, г. Красноярск
        table.table.table_lg
            thead
                tr
                    th= tableTitles3[0]
                    th= tableTitles3[1]
                    th= tableTitles3[2]
                    th= tableTitles3[3]
                    th
            tbody
                tr
                    td(data-label= tableTitles3[0]) Young Learners Exams (Starters, Movers, Flyers)
                    td(data-label= tableTitles3[1]) 16 марта (пт)
                    td(data-label= tableTitles3[2]) 9-18 марта
                    td(data-label= tableTitles3[3]) 09/02/2018
                    td
                        span.label-tooltip.label-tooltip_simple(data-tippy-theme="light", data-tippy-arrow="true", data-tippy-placement="right", title="2 занятия в неделю по 80 минут") 9 500
                tr
                    td(data-label= tableTitles3[0]) САЕ
                    td(data-label= tableTitles3[1]) 17 марта (пт)
                    td(data-label= tableTitles3[2]) 9-18 марта
                    td(data-label= tableTitles3[3]) 05/02/2018
                    td
                        span.label-tooltip.label-tooltip_simple(data-tippy-theme="light", data-tippy-arrow="true", data-tippy-placement="right", title="2 занятия в неделю по 80 минут") 10 450
                tr
                    td(data-label= tableTitles3[0]) СРЕ
                    td(data-label= tableTitles3[1]) 10 марта (пт)
                    td(data-label= tableTitles3[2]) 2-11 марта
                    td(data-label= tableTitles3[3]) 28/01/2018
                    td
                        span.label-tooltip.label-tooltip_simple(data-tippy-theme="light", data-tippy-arrow="true", data-tippy-placement="right", title="2 занятия в неделю по 80 минут") 12 000
                tr
                    td(data-label= tableTitles3[0]) ТКТ (все модули)
                    td(data-label= tableTitles3[1]) 25 марта (пт)
                    td(data-label= tableTitles3[2])
                    td(data-label= tableTitles3[3]) 02/02/2018
                    td
                        span.label-tooltip.label-tooltip_simple(data-tippy-theme="light", data-tippy-arrow="true", data-tippy-placement="right", title="2 занятия в неделю по 80 минут") 3 500
