/* ==========================================================================
  SECTION PAGE
===========================================================================*/

.section-page {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 80px;

  @include mq('tablet', 'max') {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.section-page--reflected {

  .section-page__row {
    @include mq('tablet') {
      flex-direction: row-reverse;
    }
  }
}

.section-page--bottom-content {
  margin-bottom: -50px;

  @include mq("laptop", 'max') {
    margin-bottom: 0;
  }

  .section-page__col_image {
    align-items: flex-end;
    margin-bottom: -50px;

    @include mq('tablet', 'max') {
      margin-bottom: -70px;
      order: 2;
    }
  }
}

.section-page--break-tablet {

  @include mq('laptop', 'max') {
    margin-top: 40px;
  }

  .section-page__col {

    @include mq('laptop', 'max') {
      width: 100%;

      + .section-page__col {
        margin-top: 0px;
        margin-bottom: 40px;
      }
    }
  }

  .section-page__col_image {

    @include mq('laptop', 'max') {
      order: 2;
    }
  }
}

.section-page__row{
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.section-page__col {
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;

  @include mq('tablet', 'max') {
    width: 100%;

    + .section-page__col {
      margin-top: 20px;
    }
  }
}

.section-page__col_image {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}

.section-page__col_image-centered {
  align-items: center;
}

.section-page__col_text {
  text-align: left;
  @include mq('tablet', 'max') {
    text-align: center;
  }
}

.section-page__title {
  margin-top: 0;
}

.section-page__button {
  margin-top: 40px;

  @include mq('laptop', 'max') {
    margin-top: 20px;
  }

  @include mq('tablet', 'max') {
    margin-bottom: 30px;
  }
}

.section-page__text {

  + .section-page__text {
    margin-top: 80px;

    @include mq('laptop', 'max') {
      margin-top: 20px;
    }
  }
}

/* section page */
