//-mixin dropdownLang
mixin dropdownLang()
    .dropdown
        button.dropdown__button RU
        ul.dropdown__list
            li.dropdown__item: a(href="#").dropdown__link KZ
            li.dropdown__item: a(href="#").dropdown__link UA
            li.dropdown__item: a(href="#").dropdown__link EN