//- layout/page.pug
extends layouts/page-single.pug

block variables
    - var title = TITLE.childrens_7_12;
    - var SubHeaderBackground= 'header_title-21.jpg';
    - var SubHeaderTitle= 'Дети от 7-12 лет';
    - var tableTitles = ["Программа", "Количество занятий", "Стоимость"]
    - var tableTitles2 = ["Основная программа", "Количество занятий", "Стоимость", "Международный уровень знаний"]

//- content
block content
    .container
        .program-types
            h2.h2 Типы программ
            //types
            .program-types__list
                //item
                .program-types__item
                    table.table.table_md
                        thead
                            tr
                                th= tableTitles2[0]
                                th= tableTitles2[1]
                                th= tableTitles2[2]
                                th= tableTitles2[3]
                                th
                        tbody
                            tr
                                td(data-label= tableTitles2[0]) Английский —  шаг в будущее
                                td(data-label= tableTitles2[1])
                                    span.label-tooltip.label-tooltip_simple(data-tippy-theme="light", data-tippy-arrow="true", data-tippy-placement="right", title="2 занятия в неделю по 80 минут") 8
                                td(data-label= tableTitles[2])
                                    span.label-tooltip.label-tooltip_template(data-tippy-theme="light", data-tippy-arrow="true", data-tippy-placement="right") 3 560
                                td(data-label= tableTitles2[3]) А1, А2
                                td.table__cell-button
                                    button.btn.btn_default.btn_middle(data-popup="open", data-popup-id='#popup-recording')
                                        span.btn__text Записаться
                    .program__desctiprion
                        p: b Для школьников 1-6 классов. Для тех, кто думает о перспективах школьника.
                        p Специальная программа призвана вовлечь учащихся в мир иностранного языка и учить его комфортно и увлекательно. Основываясь на многолетнем опыте, мы предлагаем родителям всестороннюю помощь в обучении английскому языку и используем богатый ресурс материалов, способствующих развитию навыков письма, чтения, аудирования, говорения. Данная программа является базовой для подготовки к престижной Университетской программе. «Английский — шаг в будущее» формирует у вашего ребенка не только языковое чутье, но и правильное отношение к современному образованию и международным стандартам. Уже на первом этапе обучения, начиная с 9 лет, ваш ребенок может сдать свой первый международный экзамен и получить свой первый сертификат Кембриджского университета. Престиж и международное признание заслуг вашего ребенка в обучении английскому языку — вот слова, раскрывающие суть международного сертификата. Просто вспомните, какой восторг у сверстников и родителей вызывают победы детей в международных соревнованиях по спорту или искусству. Так же и вы почувствуете искреннюю радость и восхищение своим знатоком, когда результатом его обучения в нашей школе будет успешно сданный международный Кембриджский экзамен.
                //item
                .program-types__item
                    table.table.table_md
                        thead
                            tr
                                th= tableTitles2[0]
                                th= tableTitles2[1]
                                th= tableTitles2[2]
                                th= tableTitles2[3]
                                th
                        tbody
                            tr
                                td(data-label= tableTitles2[0]) Английский в школе на 5+
                                td(data-label= tableTitles2[1])
                                    span.label-tooltip.label-tooltip_simple(data-tippy-theme="light", data-tippy-arrow="true", data-tippy-placement="right", title="2 занятия в неделю по 80 минут") 8
                                td(data-label= tableTitles[2])
                                    span.label-tooltip.label-tooltip_template(data-tippy-theme="light", data-tippy-arrow="true", data-tippy-placement="right") 3 560
                                td(data-label= tableTitles2[3]) А1, А2
                                td.table__cell-button
                                    button.btn.btn_default.btn_middle(data-popup="open", data-popup-id='#popup-recording')
                                        span.btn__text Записаться
                    .program__desctiprion
                        p: b Для школьников 2-11 классов. Для тех, кто хочет получать пятерки в школе.
                        p Трудности со школьным английским? Мы поможем! Больше не нужно бояться поднимать руку, чтобы ответить на уроке, да и домашнее задание всегда выполнено на «отлично». Проработка школьного материала с преподавателями -профессионалами своего дела — и результат точно не заставит себя ждать.


//-popups
block popups

//- scripts
block scripts
    include global/scripts-google-maps
