//- layout/page.pug
extends layouts/page-single.pug

block variables
    - var title = TITLE.chinese_lang;
    - var SubHeaderBackground= 'header_title-5.jpg';
    - var SubHeaderTitle= 'Китайский язык';

//- content
block content
    //section
    section.section-page.section-page--break-tablet
        .container
            .section-page__row
                .section-page__col.section-page__col_image
                    img(src="uploads/section-image-9.jpg", alt="Мальчик из Китая")
                .section-page__col.section-page__col_text
                    h2.h2.section-page__title Все зависит только от вашего желания
                    p Выучить один из самых интересных азиатских языков — китайский язык вы можете в нашей языковой школе «Time». Но самому изучить китайский язык будет очень трудно. В случае с китайским языком необходимо понять не только строение предложений (то есть китайскую логику мышления) и сами слова, но и письменность. А она отличается кардинально. Впрочем, в иероглифах есть тоже свои законы, которые мы поможем Вам понять при изучении китайского языка.
                    p Наша школа языков «Time» обучит и взрослых, и детей. Кроме того, китайская письменность непременно разовьет у вашего ребенка мышление. Иероглифическая письменность немного напоминает ассоциативные загадки или ребусы. Например, иероглиф «путь» состоит из двух частей: дорога и шея. Трактовать это можно так: путник идет по дороге и поворачивает голову в разные стороны, чтобы насладиться красотами природы. Или же путником оказывается торговец, который опасливо озирается в ожидании грабителей. Таким образом, иероглифы многозначны и позволяют нам прочесть в них небольшую историю.
    //section
    section.section-page.section-page--reflected.section-page--bottom-content
        .container
            .section-page__row
                .section-page__col.section-page__col_image
                    img(src="uploads/section-image-10.jpg", alt="Девочка из Китая")
                .section-page__col.section-page__col_text
                    p Китайский язык в школе «Time» успешно учат дети с трех лет, школьники и взрослые.
                    p Китайский язык поможет вам комфортно чувствовать себя в путешествиях, без проблем общаться с иностранцами и всегда быть впереди конкурентов в сфере вашего бизнеса. Изучение китайского языка будет несомненно полезно тем, кто планирует жить и учиться в Китае.

//-popups
block popups

//- scripts
block scripts
    include global/scripts-google-maps
