//- layout/page.pug
extends layouts/page-single.pug

block variables
    - var title = TITLE.dashboard;
    - var SubHeaderBackground= 'header_title-7.jpg';
    - var SubHeaderTitle= 'Личный кабинет';

//- content
block content
    //section
    section.section-page.section-page--break-tablet
        .container
            .section-page__row
                .section-page__col.section-page__col_image.section-page__col_image-centered
                    img(src="uploads/ipad.jpg", alt="Демо личного кабинета на ipad")
                .section-page__col.section-page__col_text
                    h2.h2.section-page__title Следите за успехами своих детей онлайн
                    .section-page__text
                        p Все родители наших учеников имеют доступ в личный кабинет на сайте школы.
                        p В кабинете вы можете ознакомиться с расписанием занятий, посмотреть домашнее задание, задать вопросы преподавателю или оставить свои пожелания директору филиала.
                        p А также поделиться успехами вашего ребенка с друзьями!
                    .section-page__text
                        p: b Банковские карты
                        p Сервис приёма оплаты предоставлен PayAnyWay.
                        p PayAnyWay не передает данные Вашей карты магазину и иным третьим лицам. Безопасность платежей с помощью банковских карт обеспечивается технологиями защищенного соединения HTTPS и двухфакторной аутентификации пользователя 3D Secure.
                        p В соответствии с ФЗ «О защите прав потребителей» в случае, если Вам оказана услуга или реализован товар ненадлежащего качества, платеж может быть возвращен на банковскую карту, с которой производилась оплата. Порядок возврата средств уточняйте у администрации интернет-магазина.производилась оплата. Порядок возврата средств уточняйте у администрации интернет-магазина.




//-popups
block popups

//- scripts
block scripts
    include global/scripts-google-maps
