//- layout/page.pug
extends layouts/page-single.pug

block variables
    - var title = TITLE.events;
    - var SubHeaderBackground= 'header_title-11.jpg';
    - var SubHeaderTitle= 'Мероприятия';

//- content
block content
    include pages/events/section-cards


//-popups
block popups

//- scripts
block scripts
    include global/scripts-google-maps
