//- layout/page.pug
extends layouts/page-single.pug

block variables
    - var title = TITLE.germany_lang;
    - var SubHeaderBackground= 'header_title-6.jpg';
    - var SubHeaderTitle= 'Немецкий язык';

//- content
block content
    //section
    section.section-page.section-page--bottom-content
        .container
            .section-page__row
                .section-page__col.section-page__col_image
                    img(src="uploads/section-image-11.jpg", alt="Мальчик из Германии")
                .section-page__col.section-page__col_text
                    h2.h2.section-page__title Все зависит только от вашего желания
                    p В общеобразовательных школах нашего города одним из альтернативных иностранных языков для обязательного изучения является именно немецкий язык. Часто, для хорошей отметки в четверти, нужно нанимать репетитора. Дело, конечно же, не в школах, а в универсальном подходе к обучению.
                    p Для более эффективного изучения немецкого языка (как и любого другого) необходимо уделять достаточно внимания каждому ученику, чего учителя общеобразовательных школ физически сделать не могут. Класс большой — на всех времени просто нет. Но для особого подхода к каждому и существуют такие языковые школы, как наша.

//-popups
block popups

//- scripts
block scripts
    include global/scripts-google-maps
