//- layout/page.pug
extends layouts/page.pug

block variables
    - var title = TITLE.home;

//- content
block content
    include pages/home/first-screen
    include pages/home/sections
    include pages/home/order
    include pages/home/events
    include pages/home/news
    include pages/home/reviews
    include global/footer-above

//-popups
block popups

//- scripts
block scripts
    include global/scripts-google-two-maps
