//- layout/page.pug
extends layouts/page-single.pug

block variables
    - var title = TITLE.individual_training;
    - var SubHeaderBackground= 'header_title-13.jpg';
    - var SubHeaderTitle= 'Индивидуальное обучение';
    - var tableTitles = ["Преподаватель", "Время", "Стоимость"]


//- content
block content
    // section
    section.section-page
        .container
            .section-page__row
                .section-page__col.section-page__col_image
                    img(src="uploads/section-image-5.jpg", alt="3 ребенка")
                .section-page__col.section-page__col_text
                   h2.h2 Что это за услуга?
                   p Не получается с расписанием группы? Чувствуете, что можете больше или не успеваете? Хотите уделять время только интересным для вас темам? Выбирайте индивидуальные занятия — тогда вы сможете идти своим темпом в удобное для вас время.
                    p Индивидуальные занятия также идеально подойдут тем, кто готовится к ОГЭ и ЕГЭ.
    // section
    section.section-page.section-page--reflected
        .container
            .section-page__row
                .section-page__col.section-page__col_image
                    img(src="uploads/section-image-6.jpg", alt="Девочка с яблоками")
                .section-page__col.section-page__col_text
                    h2.h2 Учить язык индивидуально – у нас удобно и реально!
                    p Наконец-то выдалась возможность заняться изучением иностранного языка. Перед вами сразу же встают вопросы. Для чего это мне нужно? Как выбрать, что мне нужно? Хочу в группе заниматься или индивидуально? Что хочу получить в итоге? Вопрос о форме обучения (индивидуально или в группе) совсем не праздный, а очень даже важный. Мы поможем вам определиться. Вначале подумайте, для чего вам нужно обучение иностранному языку. Если ваша цель индивидуальна и , скорее всего, интересует не всех (например, сдача экзамена или вам нужен иностранный язык определенного направления вашей деятельности) вам необходимо выбрать индивидуальную форму обучения.
    // section
    section.section-page
        .container
            .section-page__row
                .section-page__col.section-page__col_image
                    img(src="uploads/section-image-7.jpg", alt="Девочка с книгами")
                .section-page__col.section-page__col_text
                    p Индивидуальное обучение подойдет и тем, кто желает изучать иностранный язык в собственном темпе, в зоне своего ближайшего развития, работать в рамках собственных интеллектуальных дефицитов. Это обучение личностно-ориентированное, и в течение всего занятия преподаватель вам уделит максимум внимания. Если преподаватель строит работу в паре с собой, то у вас есть возможность слышать правильную иностранную речь, верно построенные грамматические структуры, разнообразные лексические единицы. Все это дает свои положительные результаты и делает ваше обучение качественным, результативным.
    // section
    section.section-page.section-page--reflected
        .container
            .section-page__row
                .section-page__col.section-page__col_image
                    img(src="uploads/section-image-8.jpg", alt="Девушка с документами")
                .section-page__col.section-page__col_text
                    h2.h2 Индивидуальное обучение для взрослых у вас дома
                    p Индивидуальный подход в обучении – визитная карточка школы «Тайм». Он создан для тех людей, кто привык сам составлять свое расписание. Удобное время, комфортный темп, гибкость в перенос занятий, полная независимость от планов и предпочтений других людей. Только ваши цели, ваши сроки и ваши пожелания в организации учебного процесса. Обратите внимание, что вы заговорите на английском с первого занятия и не важно какой у вас уровень. Наш подход основан на том, что во главе обучения стоят следующие принципы: язык нужен чтобы говорить. понимать, уметь прочитать сообщение и написать свои мысли. И не только мысли, а все что угодно от отзыва до научной статьи. Главное — это ваши стремления и результат.
                    p И всегда помните, в тот момент, когда ваш график требует переноса занятий, то это не составит никаких проблем, если вы позвоните в школу за 4 и более часа до занятия.

    // program
    section.section-program
        .container
            .program-types
                //types
                .program-types__list
                    //item
                    .program-types__item
                        table.table.table_sm
                            thead
                                tr
                                    th= tableTitles[0]
                                    th= tableTitles[1]
                                    th= tableTitles[2]
                                    th
                            tbody
                                tr
                                    td(data-label= tableTitles[0]) Русский
                                    td(data-label= tableTitles[1]) 1 час (академический)
                                    td(data-label= tableTitles[2])
                                        span.label-tooltip.label-tooltip_simple(data-tippy-theme="light", data-tippy-arrow="true", data-tippy-placement="right", title="2 занятия в неделю по 80 минут") 800
                                    td.table__cell-button
                                        button.btn.btn_default.btn_middle(data-popup="open", data-popup-id='#popup-recording')
                                            span.btn__text Записаться
                                tr
                                    td(data-label= tableTitles[0]) Иностранный
                                    td(data-label= tableTitles[1]) 1 час (академический)
                                    td(data-label= tableTitles[2])
                                        span.label-tooltip.label-tooltip_simple(data-tippy-theme="light", data-tippy-arrow="true", data-tippy-placement="right", title="2 занятия в неделю по 80 минут") 1 200
                                    td.table__cell-button
                                        button.btn.btn_default.btn_middle(data-popup="open", data-popup-id='#popup-recording')
                                            span.btn__text Записаться


//-popups
block popups

//- scripts
block scripts
    include global/scripts-google-maps
