//- layout/page.pug
extends layouts/page-single.pug

block variables
    - var title = TITLE.partners;
    - var SubHeaderBackground= 'header_title-8.jpg';
    - var SubHeaderTitle= 'Образовательные партнеры';

//- content
block content
    //section
    section.section-page.section-page--break-tablet
        .container
            .section-page__row
                .section-page__col.section-page__col_image
                    img(src="uploads/section-image-14.jpg", alt="Kaplan")
                .section-page__col.section-page__col_text
                    p Мы являемся партнерами международной школы Каплан. Мы можем посылать своих студентов на обучение в 3 страны: США, Великобританию, Австралию. Не каждая школа может сказать, что является партнером столь значительной организации. Партнерские отношения могут завязаться только с той организацией, которой доверяют международные партнеры. Мы заключили Меморандум с Кембриджским университетом по сдаче МЭ.
                    p Школа имеет эксклюзивный договор с ведущим специализированным издательским домом, обеспечивающим школе современную он лайн методическую поддержку. Мы являемся привилегированными клиентами книжного интернет магазина Маггелан, что дает нам возможность заказывать УМК с большой скидкой и получать бесплатные бонусы.
                    p В рамках сотрудничества с кембриджским университетом мы являемся резидентами Cambrigde LMC –ведущая мировая система для обучения английскому языку: <a href="#">ссылка</a>
                    p Мы активно учавствуем в программе общения детей из разных стран PenFriends: <a href="#">ссылка</a>
    //section
    section.section-page.section-page--reflected.section-page--bottom-content
        .container
            .section-page__row
                .section-page__col.section-page__col_image
                    img(src="uploads/section-image-15.jpg", alt="Macliman logo")
                .section-page__col.section-page__col_text
                    p Возможности программы Macmillan Teacher + виртуальные классы в личном кабинете, проведение онлайн-тестирования для студентов в удобное для учителя время, неограниченный доступ к банку тестов MELTS, рабочие программы, тематические разработки для проведения уроков, сертификаты Macmillan Teacher + и за участие в мероприятиях, специальные предложения для партнеров, промо-коды и дополнительные скидки на программы повышения квалификации, участие в международных проектах (Go Digital) и многое другое в личном кабинете Macmillan Teacher +: <a href="#"> ссылка</a>

//-popups
block popups

//- scripts
block scripts
    include global/scripts-google-maps
