//- layout/page.pug
extends layouts/page-single.pug

block variables
    - var title = TITLE.summer_camps;
    - var SubHeaderBackground= 'header_title-17.jpg';
    - var SubHeaderTitle= 'Летний отдых';

//- content
block content
    //section
    section.section-page
        .container
            .section-page__row
                .section-page__col.section-page__col_image
                    img(src="uploads/summer-kids.jpg", alt="Дети в Лагере")
                .section-page__col.section-page__col_text
                    h2.h2.section-page__title Дети учатся, родители отдыхают
                    p Летние лагеря школы английского языка «Тайм» – это возможность совместить семейных отдых и ежедневное увлекательное обучение ребенка на свежем воздухе, где дети занимаятся активным и полезным отдыхом: купаются в открытом бассейне, посещают различные мастер-классы по танцам, цирковому искусству, по творчеству, играют в лазертаг (laser tag), принималюти участие в спортивных мероприятиях.гордиться.
    //section
    section.section-page.section-page--reflected
        .container
            .section-page__row
                .section-page__col.section-page__col_image.section-page__col_image-centered
                    img(src="uploads/summer-teach.jpg", alt="Учителя в лагере")
                .section-page__col.section-page__col_text
                    p В летнем лагере с вашими детьми будут заниматься наши англоязычные преподаватели, которые будут проводить с ребятами яркие, интересные занятия на английском в игровой форме, а у детей будет возможность практиковать иностранный язык в реальной жизни – без учебников и тетрадок.
    // teachers list
    include pages/summer-camps/camps-list

//-popups
block popups

//- scripts
block scripts
    include global/scripts-google-maps
