//- layout/page.pug
extends layouts/page-nosubheader.pug

block variables
    - var title = TITLE.teacher;

//- content
block content
    article.article-teacher
        .container
            h1.h1 Мохаммед Сигрид Ла Фонда
            .row
                .col-md-4.article-teacher__image
                    img(src="uploads/teacher.jpg", alt="Мохаммед Сигрид Ла Фонда")
                .col-md-8
                    ul.breadcrumbs
                        li.breadcrumbs__item: a(href="./", title="title", class="breadcrumbs__link") Домашяя
                        li.breadcrumbs__item: a(href= LINKS.teachers, title="title", class="breadcrumbs__link") Преподаватели
                        li.breadcrumbs__item: a(href= LINKS.teachers_list, title="title", class="breadcrumbs__link") Красноярск
                        li.breadcrumbs__item Мохаммед Сигрид Ла Фонда
                    .article-teacher__text
                        p <b> Специализация:</b> Английский язык
                        p <b> Образование:</b> The University of the West Indies (2009 г.), Trinity College London (2013 г.)
                        p <b> Сертификаты:</b> Certificate of Achievement The University of the West Indies, Trinity College London Cert TESOL
                        p <b> Участие методических семинарах:</b> Сертификат Ассоциации преподавателей иностранных языков учебных заведений Красноярского края KELTA <br/> Сертификат British Council
                        p <b>Кратко о себе:</b> I’m from Trinidad and Tobago, one of the many countries that make up the Caribbean. My homeland is full of frienly people, many cultures and known as a vacation paradise. I’m coming with lots of experience as a Kindergarten teacher/Assistant. What I really love about teaching is seeng my students grow and understand what they’re learning. I’m very creative with my lessons. I also like making learning interactive. Letting you guys experience English in a way that’s natural and enjoyable. So look forward to fun, unique learning sessions with me!


//-popups
block popups

//- scripts
block scripts
    include global/scripts-google-maps
