//- layout/page.pug
extends layouts/page.pug

block variables
    - var title= TITLE.ui;

block style
    link(rel="stylesheet" type="text/css" href="css/ui.min.css?v=1.0.0")

//- content
block content
    +subheader('header_title-1.jpg', 'UI страница')
    include ui/mixin-ui-section
    .container
        .row
            //- section branding
            +uiSection('12','1. Branding and Colors')
                include ui/1-branding-colors
            //- section typography
            +uiSection('12','2. Typography')
                include ui/2-typography
            //- section buttons
            +uiSection('12','3. Buttons')
                include ui/3-buttons
            //- section form elements
            +uiSection('12','4. FORM ELEMENTS')
                include ui/4-form-elements
            //- section iconset
            +uiSection('12','5. ICONSET')
                include ui/5-iconset
            //- section form
            +uiSection('6','6. FORM')
                include ui/6-form
            //- section popups
            +uiSection('6','7. POPUPS')
                include ui/7-popups-and-dropdown
            //- section breadcrumbs
            +uiSection('12','8. BREADCRUMBS')
                include ui/8-breadcrumbs
            //- section tooltips
            +uiSection('12','9. TOOLTIPS')
                include ui/9-tooltips
            //- section tooltips
            +uiSection('12','10. TABLES')
                include ui/10-tables
            //- section posts
            +uiSection('6','11. POST')
                include ui/11-posts
            //- section video
            +uiSection('6','12. VIDEO LINK')
                include ui/12-video
            //- section posts
            +uiSection('6','13. CARD')
                include ui/13-card
            //- section page
            +uiSection('12','13. SECTION')
                include ui/14-section-page
            //- section map
            +uiSection('6','14. MAP')
                include ui/15-map-google
            //- section review
            +uiSection('12','16. REVIEWS')
                include ui/16-review


//-popups
block popups

//- scripts
block scripts
    include global/scripts-google-two-maps
