/* ==========================================================================
  BUTTONS
===========================================================================*/
.btn,
.btn[type="button"] {
  //position
  position: relative;
  z-index: z(button);
  //box model
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: btn(padding);
  min-width: btn(min-width);
  max-width: 100%;
  height: btn(height);
  //font
  font-family: btn(font-family);
  font-size: btn(font-size);
  line-height: btn(line-height);
  font-weight: btn(font-weight);
  text-align: center;
  text-decoration: none;
  // other
  overflow: hidden;
  border-width:  btn(border-width);
  border-style: solid;
  border-radius: btn(border-radius);
  cursor: pointer;
  transition: all .3s ease;

  touch-action: manipulation;
  user-select: none;
  -webkit-appearance: inherit;

  &:focus {
    outline: none;
  }
  &:hover {
    cursor: pointer;
  }

  @include mq('phone', 'max') {
    min-width: 200px;
  }

  &.btn_full {
    width: 100%;
    min-width: 0;
  }
  &.btn_long {
    height: 55px;

    @include mq('tablet') {
      min-width: 433px;
    }

    @include mq('tablet', 'max') {
      .btn__text {
        white-space: normal;
        font-size: 16px;
      }
    }
  }
  &.btn_small-long {
    min-width: 195px;
    height: 35px;
    border-radius: 0;
    font-family: $font-family-third;
    font-size: $font-size-primary-smaller;
    font-weight: $font-weight-regular;
  }
  &.btn_middle {
    min-width: 160px;
    height: 40px;
    font-size: $font-size-primary-bigger;
  }
}
.btn__text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* disabled styles */
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .25;
  filter: alpha(opacity=25);
  -webkit-box-shadow: none;
  box-shadow: none;
}

button[type="button"] {
  cursor: pointer;
}

/* DEFAULT */

.btn_default {
  color: $btn-default-color;
  background-color: $btn-default-background-color;
  border-color: $btn-default-border-color;

  &:hover {
    color: $btn-default-color-hover;
    background-color: $btn-default-background-color-hover;
    border-color: $btn-default-border-color-hover;
  }

  &:active {
    color: $btn-default-color-active;
    background-color: $btn-default-background-color-active;
    border-color: $btn-default-border-color-active;
  }

  //&:focus {
  //  color: $btn-default-color-focus;
  //  background-color: $btn-default-background-color-focus;
  //  border-color: $btn-default-border-color-focus;
  //}
}

/* PRIMARY */

.btn_primary {
  color: $btn-primary-color;
  background-color: $btn-primary-background-color;
  border-color: $btn-primary-border-color;

  &:hover {
    color: $btn-primary-color-hover;
    background-color: $btn-primary-background-color-hover;
    border-color: $btn-primary-border-color-hover;
  }

  &:active {
    color: $btn-primary-color-active;
    background-color: $btn-primary-background-color-active;
    border-color: $btn-primary-border-color-active;
  }

  //&:focus {
  //  color: $btn-primary-color-focus;
  //  background-color: $btn-primary-background-color-focus;
  //  border-color: $btn-primary-border-color-focus;
  //}
}

/* SECONDARY */

.btn_secondary {
  color: $btn-secondary-color;
  background-color: $btn-secondary-background-color;
  border-color: $btn-secondary-border-color;

  &:hover {
    color: $btn-secondary-color-hover;
    background-color: $btn-secondary-background-color-hover;
    border-color: $btn-secondary-border-color-hover;
  }

  &:active {
    color: $btn-secondary-color-active;
    background-color: $btn-secondary-background-color-active;
    border-color: $btn-secondary-border-color-active;
  }

  //&:focus {
  //  color: $btn-secondary-color-focus;
  //  background-color: $btn-secondary-background-color-focus;
  //  border-color: $btn-secondary-border-color-focus;
  //}
}

/* end buttons*/
