/*----------------------------------------
  LABEL LOCATION
----------------------------------------*/
.label-location {
  display: inline-flex;
  color: $color-black;
  font-weight: $font-weight-regular;
  text-decoration: none;

  @include mq('tablet-small', 'max') {
    font-size: $font-size-primary-smaller;
  }

  &.label-location__simple {
    align-items: center;
  }

  &.label-location__rows {
    align-items: flex-start;
  }

  .icon-point {
    width: 14px;
    height: 21px;
    margin-right: 12px;
    fill: $color-primary-light;
    flex-shrink: 0;

    @include mq('tablet-small', 'max') {
      margin-right: 8px;
    }
  }
}

.label-location__text {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1.2;

  @include mq('tablet-small', 'max') {
    max-width: 120px;
  }
}

.label-location__text_rows {
  display: inline-flex;
  flex-direction: column;
}
.label-location__school{
  width: 100%;
  font-weight: $font-weight-bold
}
.label-location__address {
  width: 100%;
}
/* end label location */

/*----------------------------------------
  LABEL TOOLTIP
----------------------------------------*/

.label-tooltip {
  color: $color-success;
  font-weight: $font-weight-regular;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}
/* end label tooltip */

/*----------------------------------------
  MAP
----------------------------------------*/

.map-wrap {
  border: 1px solid $color-gray;
  border-radius: 10px;
  overflow: hidden;
}

.map {
  width: 100%;
  height: 590px;

  .gm-style .gm-style-iw {
    max-width: 200px;
  }
}

.map_lg {
  height: 560px;
}
/* end map */

/*----------------------------------------
  CONTENT
----------------------------------------*/

.content {
  position: relative;
  padding-bottom: 100px;

  @include mq('laptop', 'max') {
    padding-bottom: 50px;
  }
}

/* end content */

/*----------------------------------------
  VIDEO LINK
----------------------------------------*/


.video-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 275px;
  outline: none;
  overflow: hidden;

  @include mq("phone", "max") {
    height: 165px;
  }

  &::before {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(#000, 0.7);
  }

  &::after {
    content: '';
    display: block;
    width: 89px;
    height: 64px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url('data:image/svg+xml,%3Csvg%20id%3D%22%D0%A1%D0%BB%D0%BE%D0%B9_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20461%20326.2%22%3E%3Cstyle%3E.st0%7Bfill%3Ared%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M365.3%200H95.7C42.9%200%200%2042.9%200%2095.7v134.7c0%2052.9%2042.9%2095.7%2095.7%2095.7h269.5c52.9%200%2095.7-42.9%2095.7-95.7V95.7C461%2042.9%20418.1%200%20365.3%200m-64.8%20169.7l-126.1%2060.1c-3.4%201.6-7.2-.8-7.2-4.6v-124c0-3.8%204-6.2%207.3-4.5l126.1%2063.9c3.8%201.9%203.7%207.3-.1%209.1%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(-50%);
    transition: .3s ease;

    @include mq('tablet', 'max') {
      width: 63px;
      height: 44px;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:hover {

    &::after {
      transform: translateY(-50%) scale(1.1);
      transition: .3s ease;
    }
  }
}

/* end video link */