/* ==========================================================================
    TYPOGRAPHY
===========================================================================*/
/* TITLES */
h1,
.h1 {
  font-family: $font-family-secondary;
  font-size: $font-size-h1;
  color: $color-black-light;
  line-height: $line-height-primary;
  font-weight: $font-weight-bold;

  @include mq('desktop', 'max') {
    font-size: 40px;
  }

  @include mq('tablet', 'max') {
    font-size: 25px;
  }
}

h2,
.h2 {
  font-family: $font-family-secondary;
  font-size: $font-size-h2;
  color: $color-black-light;
  line-height: $line-height-primary;
  font-weight: $font-weight-bold;

  @include mq('laptop', 'max') {
    font-size: 36px;
    line-height: 1.2;
  }

  @include mq('tablet', 'max') {
    font-size: 24px;
  }
}

h3,
.h3 {
  font-family: $font-family-primary;
  font-size: $font-size-h3;
  color: $color-black;
  line-height: $line-height-primary;
  font-weight: $font-weight-bold;

  @include mq('laptop', 'max') {
    font-size: 22px;
  }


  @include mq('tablet', 'max') {
    font-size: 20px;
  }
}

h4,
.h4 {
  font-family: $font-family-primary;
  font-size: $font-size-h4;
  color: $color-black;
  line-height: $line-height-primary;
  font-weight: $font-weight-bold;

  @include mq('laptop', 'max') {
    font-size: 18px;
  }
}
/* LINKS */
a {
  font-family: $font-family-primary;
  font-size: $font-size-primary;
  color: $color-blue;
  line-height: $line-height-primary;
  font-weight: $font-weight-light;
  text-decoration: underline;
  &:hover {
    color: $color-primary;
    text-decoration: none;
  }
}
ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
  li {
    list-style: none;
  }
}

/* CUSTOM STYLES */

.subtitle {
  font-size: $font-size-h3;
  font-weight: $font-weight-medium;

  @include mq('tablet', 'max') {
    margin-top: 10px;
    font-size: 16px;
  }
}

/* end typography */
