// section cards
section.section-cards.section-cards_top
    .section-cards__list
        .container
            .row
                - for( var i = 0; i < 2; i++)
                    //-(img, title, date, text, className)
                    .section-cards__item.col-xl-3.col-md-4.col-sm-6
                        +post(
                            'post-1.jpg',
                            'В школе “Time” все отлично. Приходи, у тебя также будет.',
                            '26 мая, 2018',
                            'Какой веселый день, какой чудесный пень, какой чудестный я и песенка...'
                        )
                    //-(img, title, date, text, className)
                    .section-cards__item.col-xl-3.col-md-4.col-sm-6
                        +post(
                            'post-2.jpg',
                            'В школе “Time” все отлично. Приходи, у тебя также будет.',
                            '1 июня, 2018',
                            'Какой веселый день, какой чудесный пень, какой чудестный я и песенка...'
                        )
                    //-(img, title, date, text, className)
                    .section-cards__item.col-xl-3.col-md-4.col-sm-6
                        +post(
                            'post-3.jpg',
                            'В школе “Time” все отлично. Приходи, у тебя также будет.',
                            '13 июля, 2018',
                            'Какой веселый день, какой чудесный пень, какой чудестный я и песенка...'
                        )
                    //-(img, title, date, text, className)
                    .section-cards__item.col-xl-3.col-md-4.col-sm-6
                        +post(
                            'post-4.jpg',
                            'В школе “Time” все отлично. Приходи, у тебя также будет.',
                            '18 июля, 2018',
                            'Какой веселый день, какой чудесный пень, какой чудестный я и песенка...'
                        )