//reviews
section.reviews
    .container
        h2.h2 О нас говорят родители
        .js-reviews.reviews__list.reviews__list_carousel
            - for(var i = 0; i < 4; i++)
                .reviews__item
                    +review('Светлана', 'Москва')
                .reviews__item
                    +review('Галина', 'Тюмень')
        .reviews__controls
            a(href= LINKS.reviews).btn.btn_default
                span.btn__text Все отзывы
            button.btn.btn_default(data-popup="open", data-popup-id='#popup-review')
                span.btn__text Написать отзыв