/* ==========================================================================
  ARTICLE TEACHER
===========================================================================*/

.article-teacher {
  width: 100%;
}

.article-teacher__image {

  @include mq('laptop', 'max') {
    margin-bottom: 40px;
  }
}

.article-teacher__text {
  margin-top: 50px;

  @include mq('laptop', 'max') {
    margin-top: 30px;
  }
}

.article__image-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  outline: none;

  img {
    width: 100%;
  }
}

.video-link {

  ~ .article__image-content {
    margin-top: 30px;
  }
}

.article__photos {

  .article__image-content {
    margin-top: 40px;
  }
}

.article-page {
  p {
    &:first-child {
      margin-top: 0;
    }
  }
}

.article-page__controls {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  align-content: center;
  justify-content: center;

  @include mq("tablet", "max") {
    flex-direction: column;
  }

  .btn + .btn {
    margin-left: 50px;

    @include mq("tablet", "max") {
      margin-left: 0;
      margin-top: 30px;
    }
  }
}

/* end teacher page */

