// section cards
section.section-cards.section-cards_top
    .section-cards__list
        .container
            .row.row_centred
                //-(img, title, className)
                .section-cards__item.col-xl-3.col-md-4.col-sm-6
                    +card(
                        LINKS.france_lang,
                        'lang-1.jpg',
                        'Французский язык'
                    )
                //-(img, title, className)
                .section-cards__item.col-xl-3.col-md-4.col-sm-6
                    +card(
                        LINKS.germany_lang,
                        'lang-2.jpg',
                        'Немецкий язык'
                    )
                //-(img, title, className)
                .section-cards__item.col-xl-3.col-md-4.col-sm-6
                    +card(
                        LINKS.chinese_lang,
                        'lang-3.jpg',
                        'Китайский язык'
                    )